<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="wrapper">
    <form (ngSubmit) = "onSubmitTrans()">
    <H5 style="text-align: center;color: rgb(8, 42, 136);">Money Transfer</H5>
    
    <div class="form-group">
        
        <label for="fromAccount"> FromAccount </label>
        <input type="number" id="fromAccount" [(ngModel)]="accountTransfer.fromAccount" name="fromAccount">
        
        
       <div></div>

       <label for="toAccount"> toAccount </label>
       <input type="number" id="toAccount" [(ngModel)]="accountTransfer.toAccount" name="toAccount">
     
       
        <div></div>
     
       
        Amount: <input type="number"  id="amount"  [(ngModel)]="accountTransfer.amount" name = "amount" />

        <div></div>


     
        
        <label for="date"> Date </label>
        <input type="date" id="date" [(ngModel)]="accountTransfer.date" name="date">
        
        
        <button class="btn btn-info" type="submit">Submit</button>
    </div>
</form>
</div>